body{
    font-family: Arial;
}

.card-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.standout {
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}


h1,h2,h3,h4,h5,p {
    text-align: center;
}

@media only screen and (max-width:700px) {
    .card-collection {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:700px) and (max-width: 1000px) {
    .card-collection {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:1500px) {
    .card-collection {
        grid-template-columns: 1fr 1fr  1fr 1fr;
    }
}


.form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 60px;
    margin: 10px;
    background-color: rgba(249, 249, 249, 0.727);
  }

/* the box for input size is 3.4 times the size of font size */
  .form-control, .form-select {
    min-height: 3.4rem;
  }


